body {
  font-family: 'Dosis', sans-serif;
  min-height: 500px;
  color: #fff;
  background-color: #121E26;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1001;
  filter: brightness(20%);
}

.us-military-background {
  position: fixed;
  bottom: 0;
  opacity: 0.1;
  filter: saturate(0);
}

#info::-webkit-scrollbar, #info::-webkit-scrollbar-corner,
#org-chooser::-webkit-scrollbar, #org-chooser::-webkit-scrollbar-corner,
#summary::-webkit-scrollbar, #summary::-webkit-scrollbar-corner {
  width: 0.5em;
  background-color: #112a38;
}

#info::-webkit-scrollbar-thumb {
  background-color: #101c23;
}

#org-chooser::-webkit-scrollbar-thumb,
#summary::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.4);
}

h3, h4 {
  font-family: 'Open Sans';
}

h3 {
  margin-bottom: 50px;
  text-align: center;
}

h4 {
  margin-bottom: 25px;
  color: #C34444;
}

.logo {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 25px;
  padding-left: 30px;
}

.logo p {
  display: inline;
  font-family: 'Dosis';
  font-size: 14px;
  opacity: 0.6;
  margin-left: 10px;
}

#nav-bar {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  background-color: #112a38;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 1em;
}

.nav-links a {
  display: inline-block;
  margin: 0 20px;
}

.links {
  display: flex;
  margin-right: 40px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  opacity: 0.5;
  transition: all 0.25s ease;
  text-decoration: none;
}

.social-icons {
  display: flex;
}

.social-icons a {
  width: 30px;
  height: 30px;
  background-color: #bbbbbb;
  color: #112a38;
  line-height: 30px;
  font-size: 15px;
  border-radius: 100%;
  text-align: center;
}

.mobile-icon {
  display: none;
}

.social-icons a:hover {
  opacity: 0.5;
  transition: all 0.25s ease;
}

#org-chooser {
  position: fixed;
  display: flex;
  padding-left: 2%;
  padding-top: 0.5%;
  top: 15%;
  height: 10%;
  background-color: rgba(16, 28, 35, 0.8);
  overflow: auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .25);
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 30px;
  padding-bottom: 20px;
}

#org-chooser:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
}

#according-to {
  position: fixed;
  padding-left: 2.5%;
  top: 10%;
  height: 5%;
  font-size: 15px;
  opacity: 0.6;
}

#timeframe {
  position: fixed;
  padding-left: 2.5%;
  top: 27%;
  height: 5%;
  font-size: 15px;
  opacity: 0.6;
}

#info {
  position: fixed;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .25);
}

#map {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #112a38;
}

.ocean {
  min-width: 100%;
  min-height: 100%;
  fill: #112a38;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#summary, #civilian-casualties-scale {
  position: fixed;
  overflow: auto;
}

.summary-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#statistics-summary span {
  float: right;
  font-family: 'Inconsolata';
}

#statistics-summary div {
  margin-bottom: 1%;
}

#summary-presence {
  color: #fff;
}

#summary-civilian-casualties {
  color: #ff0000;
}

#summary-adversary-casualties {
  color: #AD71F4;
}

#summary-troop-casualties {
  color: #47c5fc;
}

#summary-troop-numbers {
  color: #CEC40D;
}

.circle-civilian-casualties {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 100%;
  margin-left: 10px;
  opacity: 0.8;
  background-color: rgba(255, 0, 0, 0.75);
}

.circle-adversary-casualties {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #AD71F4;
  border-radius: 100%;
  margin-left: 10px;
  opacity: 0.8;
}

.circle-troop-casualties {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #47c5fc;
  border-radius: 100%;
  margin-left: 10px;
  opacity: 0.8;
}

.circle-troop-numbers {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #CEC40D;
  border-radius: 100%;
  margin-left: 10px;
  opacity: 0.8;
}

.square-presence {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgb(252, 138, 107);
  margin-left: 10px;
  opacity: 0.8;
}

.square-presence-two {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(230, 53, 42);
  opacity: 0.8;
}

.conflict-name {
  font-family: 'Open Sans';
  font-size: 20px;
  border-bottom: 2px solid #C34444;
  color: #fff;
}

.description-text, .statistics-text {
  opacity: 0.8;
}

.modal-content {
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  border-top: solid 2px #F1F3F4;
  color: black;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75)
}

.subunit {
  stroke: black;
  stroke-width: 0.2px;
}

.place-label {
  font-family: sans-serif;
  font-size: 0.5em;
}

.subunit-label {
  fill: #000;
  font-family: sans-serif;
  fill-opacity: 0.5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.adversaryCasualtiesBubble {
  stroke: #AD71F4;
  stroke-width: 0.5px;
  fill: none;
  box-shadow: 0 0 100px -10px black inset;
}

.civilianCasualtiesBubble {
  stroke: #000;
  stroke-width: 0.5px;
  fill: rgba(255, 0, 0, 0.75);
  box-shadow: 0 0 100px -10px black inset;
}

.troopCasualtiesBubble {
  stroke: #47c5fc;
  stroke-width: 0.5px;
  fill: none;
  box-shadow: 0 0 100px -10px black inset;
}

.troopNumbersBubble {
  stroke: #CEC40D;
  stroke-width: 0.5px;
  fill: none;
  box-shadow: 0 0 100px -10px black inset;
}

#controls {
  position: fixed;
  transition: all 0.25s ease;
}

#controls button {
  display: block;
  background-color: #bbbbbb;
  color: #112a38;
  border-radius: 100%;
  text-align: center;
  margin: 10px;
  line-height: 25px;
  font-size: 12px;
  width: 35px;
  height: 35px;
}

#controls button:hover {
  opacity: 0.5;
  transition: all 0.25s ease;
}

.org-carousel-container {
  min-width: 75%;
  position: absolute;
  top: 50%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.carousel-item {
  font-size: 13px;
  text-align: center;
}

.play, .pause {
  font-size: 25px;
  opacity: 0.5;
  position: absolute;
  top: 25%;
  left: 85%;
}

.pause {
  display: none;
}

.pause:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.play:hover {
  color: #ce2525;
  opacity: 1;
  transition: all 0.5s ease;
}

.play-active {
  color: #ce2525;
  opacity: 1;
  transition: all 0.25s ease;
}

.conflict-header {
  min-width: 20%;
}

#conflict-factors {
  position: fixed;
  border-left: 2px solid rgba(255,255,255,0.75);
  left: 3%;
}

.score-factor-links a {
  display: flex;
  justify-content: flex-end;
  opacity: 0.3;
  min-width: 125px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  text-align: right;
}

.score-factor-links a:hover, .score-factor-links a.active {
  opacity: 1;
}

div#tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 175px;
  padding: 9px;
  font-size: 16px;
  background: rgba(255,255,255,0.75);
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  z-index: 11;
}

input[type='checkbox'] {
  width: 25px;
  height: 42px;
  padding: 0;
  margin-right: 10px;
  vertical-align: bottom;
  position: relative;
  top: 5px;
}

#subpage-view {
  font-family: 'Dosis';
  width: 100%;
  height: 100%;
}

#subpage-view {
  background-color: #121E26;
}

.subpage-heading {
  padding: 5%;
}

@media only screen and (max-width: 1100px) {
  h3 {
    margin-top: 25px;
  }

  #nav-bar,
  .nav-links,
  .links {
    flex-direction: column;
  }

  .nav-links {
    margin-left: 0;
    margin-top: 50px;
    display: none;
  }

  .links a {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-icon {
    display: initial;
    position: absolute;
    align-self: flex-end;
    padding-right: 20px;
  }

  .social-icons {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .nav-links.nav-links-show {
    display: initial;
    background-color: #0c161c;
    z-index: 1000;
    position: absolute;
    width: 100%;
  }

  .logo {
    font-size: 20px;
    padding-left: 15px;
  }

  .logo p {
    display: none;
  }

  #info {
    left: 5%;
    top: 75%;
    width: 90%;
    height: 25%;
    font-size: 12px;
  }

  #org-chooser {
    left: 2%;
    width: 96%;
  }

  #civilian-casualties-scale {
    height: 10%;
    left: 5%;
    top: 65%;
    width: 90%;
    font-size: 12px;
  }

  #summary {
    height: 10%;
    left: 5%;
    top: 63%;
    width: 90%;
    font-size: 12px;
  }

  #controls {
    display: none;
  }

  #conflict-factors {
    font-size: 12px;
    top: 35%;
    width: 0px;
  }

  .score-factor-links {
    margin-top: 0px;
  }

  .score-factor-links a {
    margin-top: 10px;
  }

  #opening-view p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1101px) {
  #info {
    left: 73%;
    top: 12%;
    width: 25%;
    height: 30%;
  }

  #org-chooser {
    left: 2%;
    width: 40%;
  }

  #civilian-casualties-scale {
    height: 10%;
    left: 60%;
    top: 12%;
    width: 25%;
    font-size: 1em;
  }

  #summary {
    height: 15%;
    left: 73%;
    top: 12%;
    width: 25%;
    font-size: 1em;
  }

  #controls {
    display: initial;
    top: 75%;
    left: 2%;
  }

  #conflict-factors {
    font-size: 0.9em;
    top: 40%;
    width: 150px;
  }

  .score-factor-links {
    margin-top: 83px;
  }

  .score-factor-links a {
    margin-top: 20px;
  }

  #opening-view p {
    margin-left: 20%;
    margin-right: 20%;
  }
}
