@font-face {
  font-family: 'DroidSerif';
  src: url('../fonts/DroidSerif-Regular.ttf');
}

body {
  font-family: 'DroidSerif', sans-serif;
  min-height: 500px;
}

h3 {
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

#nav-bar {
  padding-top: 10px;
  font-size: 20px;
  font-size: 20px;
  background-color: #112a38;
}

.title-link {
  padding-left: 5%;
}

.nav-links {
  padding-top: 0.5%;
  font-size: 0.75em;
  text-align: center;
}

.nav-links a {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
}

a:focus {
  outline: none;
  /*BAD ACCESSIBILITY*/
}

a:hover {
  color: #B8E4FF;
}

.social-icons a {
  width: 30px;
  height: 30px;
  background-color: #bbbbbb;
  color: #FFF;
  line-height: 30px;
  font-size: 15px;
  border-radius: 100%;
  text-align: center;
}

#map {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #112a38;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#info {
  position: fixed;
  /*border: solid 2px #025C89;*/
  left: 67%;
  top: 40%;
  width: 30%;
  min-height: 40%;
  text-align: right;
}

#country {
  top: 77%;
  left: 57%;
  height: 10%;
  min-width: 40%;
  color: #025C89;
  opacity: 0.8;
  position: fixed;
}

#country-text {
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}

.modal-content {
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  border-top: solid 2px #F1F3F4;
  color: black;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75)
}

.subunit {
  fill: #25424f;
}

.subunitCasualties {
  fill: rgba(255, 255, 255, 0.75);
}

.place-label {
  font-family: sans-serif;
  font-size: 0.5em;
}

.subunit-label {
  fill: #000;
  font-family: sans-serif;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.casualty-circle {
  fill: #FF7F00;
  opacity: 0.5;
}

#controls {
  position: absolute;
  top: 80%;
  left: 3%;
  height: 20%;
  width: 20%;
  font-size: 150%;
  transition: all 0.25s ease;
}

#controls a {
  display: block;
}

.checkbox {
  display: inline;
  font-size: 23px;
}

input[type='checkbox'] {
  width: 25px;
  height: 42px;
  padding: 0;
  margin-right: 10px;
  vertical-align: bottom;
  position: relative;
  top: 5px;
}
