body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 500px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

#nav-bar {
  padding-top: 10px;
  font-size: 20px;
  border-bottom: solid 2px #F1F3F4;
  font-size: 20px;
  background-color: #025C89;
}

#nav-links {
  padding-top: 1%;
  font-size: 0.75em;
  text-align: center;
}

a {
  color: #fff;
}

a:focus {
  outline: none;
  /*BAD ACCESSIBILITY*/
}

a:hover {
  color: #B8E4FF;
}

#map {
  position: relative;
  height: 30%;
  background-color: #B8E4FF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#info-alt {
  top: 85px;
  left: 77%;
  height: 50%;
  width: 20%;
  border: solid 2px #F1F3F4;
  background-color: #fff;
  color: black;
  opacity: 0.8;
  position: fixed;
}

#methodology-modal-content {
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  border-top: solid 2px #F1F3F4;
  color: black;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75)
}

#country-text {
  font-size: 25px;
  font-weight: bold;
}

.subunit {
  fill: rgba(255, 255, 255, 0.75);
}

.place-label {
  font-family: sans-serif;
  font-size: 0.5em;
}

.subunit-label {
  fill: #000;
  font-family: sans-serif;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}
